{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Create New Character</h1>
        </div>
        <div class="card-body">
            <form method="POST" novalidate>
                {% csrf_token %}
                 {% if form.non_field_errors %}
        <div class="form-errors" >
            {{ form.non_field_errors }}
        </div>
    {% endif %}
                {% include 'characters/_character_form.html' %}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}